/* Start Global Roles */
*{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.center-xy{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Global Role */

/* Start Variables */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* End Variables */

/* Start Header */
header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative ; 
  padding-top: 25px;
  padding-bottom: 30px;
}
header .container::after{
  content: "";
  position: absolute;
  left: 15px;
  bottom:0px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2 ; 
}
.logo img {
  height: 40px;
}
nav{
flex: 1;
display: flex;
justify-content: flex-end;
align-items: center;
}

nav .links{
  display: flex;
  
}

.links li a {
    color: white;
    transition: color , border-bottom .3s;
    font-size: 15px;
    padding: 0px 0 41px 15px;
    z-index: 10;
    position: relative;
}
.links li a.active ,
.links li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);

}
nav .search {
    color: #fff;
    font-size: 20px;
    margin-left: 40px;
    border-left: 1px solid #fff;
    padding:7.5px 0 7.5px 20px ;
    cursor: pointer;
  
}
nav .menu {
  display: none;
  color: white;
  font-size: 22px;
  cursor: pointer;

}

@media (max-width:767px){

   header .container::after , header .container .links{
    display: none;
  }
 
  nav .menu {
    display: block ; 
    position: relative;
  }

  header .container .links{
    position: absolute;
    top: 59%;
    left: 0;
    width: 100%;
    padding-top: 30px;
  
}
  
   header .container .links li a {

    display: block;
    padding: 10px;
    transition: color  , font-weight  ,  background-color .5s;
    text-align: center;
    
   }
   .links li a.active {
     color:white ; 
     border-bottom: none;
   }
   .links li a:hover, 
   .links li a:hover.active:hover {
     font-weight: bold;
     color: var(--main-color);
    background-color: rgb(15 116 143 / 80%); 
   }

   header nav .menu:hover + .links  , 
  header .container .links:hover {
    display: block;
  }
  
}

@media (max-width:334px){
  .logo img{
    height: 25px;
  }
  nav .search  {
    margin-left: 20px;
  }
  header .container .hidden li a{
    font-size: 18px;
    padding: 10px;
  }
}

/* End Header */

/* Start Landing */
 .landing{
  min-height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative ; 
}
.landing::before , .landing::after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 30px;
  z-index: 2;
  cursor: pointer;
}
.landing::before{
  content: "<";
  left: 20px;
 
}
.landing::after{
  content: ">";
  right: 20px;
}

.landing .layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 50%);
 
}
.landing  .text-container{
  position: absolute;
  top: 45%;
  transform: translateY(calc(-50% + 35px));
  left: 0;
  width:50%;
  background-color: var(--transparent-color);
  padding: 15px 50px 30px;
  display: flex;
  justify-content: flex-end;
  transition: display .3s .3s;

}
.landing  .text-box{
  max-width: 550px;
} 
.landing  .text-box .title{
  color: white;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.8;
  margin-bottom: 15px;
} 
.landing .text-box .title +p{
  color: white;
  line-height: 1.6;
  font-size: 13px;
} 
.landing  .circles{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  display: flex;
} 
.landing  .circles > div {
  width : 15px  ;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: 10px;
  background-color: transparent;

} 
.landing  .circles > div.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}  
@media (max-width: 767px){
  .landing  .text-container{
    padding: 10px 20px 10px 40px;
    width:50%;
    padding: 40px;
  }
  .landing  .text-box{
    max-width: 330px;
  } 
  .landing  .text-box .title{
    font-size: 18px;
   
  }
  .landing  .text-box .title + p {
    line-height: 1.4;
   
  }

@media (max-width:476px){
 .landing .text-container{
    left: 50%;
    transform: translate(-50% , -50%);
    width: 70%;
  }
 .landing .text-container .text-box .title{
   font-size: 20px;
  }
 .landing .text-container .text-box .title +p {
   font-size: 14px;
   line-height: 1.4;
  }
}
}

/* End Landing */



/* Start Special Reusable */

 .special {
  text-align: center;
}
 .container .special h1 {
  margin: 0;
  font-size:35px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 70px;
  position: relative;
  display: inline-block;
}
 .container .special h1::before{
  content: "";
  width: 120px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -30px;
  left: calc(50% + 2px);
  transform: translateX(-50%);
}
 .container .special h1::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  bottom: -30px;
  left: 50%;
  background-color: #fff;
  transform: translate(-50% , 50%);
}
 .container .special h1 + p {

  line-height: 2;
  color: #777;
  width:  500px;
  max-width: 100%;
  margin: 0 auto 80px;
}

.grid{
  display: grid;
  grid-template-columns : repeat(auto-fit , minmax(400px,1fr)) ; 
  grid-gap: 30px;
  justify-content: center;
}
/* End Special Reusable */


/* Start Services */

.services {
  padding-top: 100px;
  padding-bottom: 100px;
}
.services .wrap-serv div{
padding: 10px;
}
.services .wrap-serv i{
  margin-right:  30px;
  
}
.services .wrap-serv h3{
  display: inline-block;
  color:var(--main-color);
  margin-bottom: 20px;
  transform: translateY(-20px);
}
.services .wrap-serv p{
  padding-left: 80px;
  line-height: 1.8;
  color: #777;
}
@media (max-width:500px){
  .grid{
    grid-template-columns: repeat(auto-fit,minmax(280px , 1fr));
  }
}
@media(max-width: 374px){
  .services .wrap-serv i{
    margin-right:  20px; 
    font-size: 2em;
    margin: 0;
  }
  .services .wrap-serv h3{
    font-size: 18px;
    margin-left: 40px;
  }
  .services .wrap-serv p{
    padding-left: 30px;
    font-size: 14px;
  } 
  
}

/* End Services */

/* Start Design */
.design {
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
}
.design::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 50%);
}

.design .image  , 
.design .desc {
  z-index: 3;
  flex : 1;
}

.design .image  {
  text-align: center;
}
.design .image img {
 position: relative;
 bottom: -200px; 
}

.design .desc{
  background-color : var(--transparent-color) ; 
  padding: 30px;
}
.design .desc h2{
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.8;
}

.design .desc ul li {
  padding: 20px 0;
  color: white;
  font-size: 18px;
}
.design .desc ul li::before {
  content: "\f108" ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  margin-right: 18px;
}
@media(max-width : 767px){
  .design .image{
    display: none;
  }
}
/* End Design */

/* Start Portfolio */
.portfolio{
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio .container .filter{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.portfolio .container .filter li{
  padding: 8px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color , color .1s;
  
}
.portfolio .container .filter li.active , 
.portfolio .container .filter li:hover {
 background-color: var(--main-color);
 color: white;
  
}

.portfolio .album {
  display: grid;
  grid-template-columns:  repeat(4 , minmax(250px , 1fr));
}
@media (min-width : 521px) and (max-width: 1050px) {
  .portfolio .album {
     grid-template-columns: repeat(2 ,minmax(250px , 1fr));
   } 
 }
@media (max-width : 520px)  {
  .portfolio .album {
     grid-template-columns: minmax(250px , 1fr);
   } 
 }
.portfolio .album .img-box{
  position: relative;
  overflow: hidden;
}
.portfolio .album .img-box .hidden{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  background-color: #fff;
  transition:    bottom .3s ;
  padding: 20px;
  z-index: 5;
}
.portfolio .album .img-box .hidden h5{
  margin : 0 0 7px  ; 
  font-weight: normal;
}
.portfolio .album .img-box .hidden span{
    color: var(--main-color);
    font-size: 14px;
}
 .portfolio .album .img-box:hover .hidden{
  bottom: 0;
} 
.portfolio .album .img-box img{
  width: 100%;
  transition: transform   .3s;
}
.portfolio .album .img-box:hover img {
  transform: rotate(3deg) scale(1.1) ;
}
.portfolio button{
    padding: 10px 15px;
    border: none;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: border , color , background-color .3s;
    margin: 40px auto 0 ;
    display: block;
}
.portfolio button:hover{
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}

/* End Portfolio */

/* Start Video */


.video .video-parent{
  position: relative;
  width: 100%;
}
.video .video-parent::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 40%);
}
.video-parent video {
  max-width: 100%;
}
.video-parent .text{
  position: absolute;
  left: 0;
  top: 50%;
  transform : translateY(-50%) ; 
  width: 100%;
  background-color: var(--transparent-color);
  text-align: center;
  padding: 50px;
  color: #fff;
}
.video-parent .text h2{
  margin: 0 0 25px;
  font-weight: normal;
  line-height: 1.4;
}
.video-parent .text  p{
  margin: 0 0 40px;
  line-height: 1.1;
}
.video-parent .text  a{
  display: block;
  color: #fff;
  padding: 15px 20px;
  width: fit-content;
  margin: 0 auto;
  background-color: #000 ; 
  border-radius: 5px;
  transition:  transform .3s;
}
.video-parent .text  a:hover{
  transform: scale(0.95);
}
@media (max-width : 767px) {
  .video-parent .text { 
    padding:  20px;
}
.video-parent .text h2{
  margin: 0 0 15px;
  line-height: 1.2;
  font-size: 18px;
}
.video-parent .text  p{
  margin: 0 0 20px;
  font-size: 15px;
}
.video-parent .text  a{
  padding: 10px 15px;
  font-size: 15px;
}
}
/* End Video */

/* Start About */
.about {
  padding-top: 100px;
  padding-bottom: 80px;
}
.about .devices{
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: -50px;
}
.about .devices img{
 max-width: 100%;
 position: relative;
 bottom: -120px;
}
.about .stat{
  width: 100%;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about .stat::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 60%);
}
.about .stat .container{
  display: flex;
  flex-wrap: wrap;  
  z-index: 10;

}
.about .stat .container > div{
  flex-basis: 25%;
  color:white ;
  padding: 50px;
  text-align: center;
  background-color: var(--transparent-color);
}
.about .stat .container div .black-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  margin: 0 auto;
}
.about .stat .container div  .black-circle i {
  color: white;
  font-size: 14px;
}
.about .stat .container div  .number {
  font-size: 50px;
  margin: 30px 0 20px;
  letter-spacing: -1px;
}
.about .stat .container div  span {
  font-size: 16px;
}
@media (max-width: 991px){
  .about .stat .container > div{
    flex-basis:50%;
  }
}
@media (max-width: 767px){
  .about .devices{
    margin-top: -80px;
  }
  .about .devices img{
    bottom: -100px;
  }
  .about .stat {
    padding-top: 60px;
   padding-bottom: 60px; 
  }
  .about .stat .container > div{
    flex-basis:100%;
    margin-bottom: 10px;
  }
}

/* End About */

/* Start Skills */

/*  Genral */
.skills {
  padding-bottom: 100px;
}
.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills .container > div  {
  flex-basis: 46%;
  padding: 25px;
}
.skills .container > div > h4  { 
margin: 0 0 30px;
font-size: 20px;
font-weight: normal;
text-align: center;
}
.skills .container > div > p  {
  margin: 0 0 30px;
  line-height: 1.8;
  color: #777;
  text-align: center;
}
/*  Genral */

/* Start testimonials section */

 .skills .container .testimonials  {
  position: relative;
 }
 .skills .container .testimonials .bullets  {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 }
 .skills .container .testimonials .bullets li  {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-left: 10px;
    background-color: transparent;
    display: block;
 }
 .skills .container .testimonials .bullets li.active  {
   
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
   
 }
.skills .container .testimonials .feedback  {
  display: flex;
  flex-direction: column;  
}
.skills .container .testimonials .feedback .person {
  display: flex;
  margin: 0 0 30px;
  align-items: center;
}
.skills .container .testimonials .feedback .person img{
  width: 100px;
  border-radius: 50%;
  margin-right: 40px;
}
.skills .container .testimonials .feedback .person .box{
  padding: 15px 0 5px;
  border-bottom: 1px solid #ddd;
}
.skills .container .testimonials .feedback .person .box p {
  line-height: 2;
  padding:  10px 0;
}
.skills .container .testimonials .feedback .person .box span {
  display: block;
  text-align: right;
  margin: 10px 0 ;
  color: #777;
} 


/* End  testimonials section */

/* Start Our-skill Section */

.skills .container .our-skill .progress-parent  {
  padding: 25px 0 5px;
  display: flex;
  flex-direction: column;
}
.skills .container .our-skill .progress-parent .prog-skill  {
  margin-bottom: 40px;
}
.skills .container .our-skill .progress-parent .prog-skill p  {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 18px;
}
.skills .container .our-skill .progress-parent .prog-skill .bar  {
 background-color: #dedadc ; 
 height: 25px;
}
.skills .container .our-skill .progress-parent .prog-skill .bar span {
  display: inline-block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
} 
.skills .container .our-skill .progress-parent .prog-skill .bar span::before {
  content: attr(data-prog);
    position: absolute;
    right: -20px;
    top: -40px;
    width: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    padding: 3px;
    text-align: center;
} 
.skills .container .our-skill .progress-parent .prog-skill .bar span::after {
 content: "";
 width: 0;
 border-width: 8px;
 border-style: solid;
 border-color: #000 transparent transparent;
 position: absolute;
 right: -7px;
 top: -16px;
} 
@media (max-width : 991px){
  .skills .container > div {
    flex-basis: 47%;
    padding: 15px;
}
  .skills .container .testimonials .feedback .person .box p {
    line-height: 1.5;
    padding: 8px 0;
    font-size: 14px;
}
.skills .container .testimonials .feedback .person img {
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
}
@media(max-width :767px){
  .skills {
    padding-bottom: 50px;
}
.skills .container {
  flex-direction: column;
}
.skills .container > div > h4 {
  margin: 30px 0;
}
}
/* End Our-skill Section */

/* End Skills */